body 
	{
	font-family: 'Slabo 27px', serif;
	font-weight: 400;
	margin: 0;
	padding: 0;
	}

a, u 
	{
    	text-decoration: none;
	}

a:hover {
    color: red;
}
#main_container

	{
	margin-left: 10%;
	margin-right:10%;
	font-size: 18px;	
	}


